
.backgroundImageProfile {
    background-image: url("src/front/styles/paymentaccepted.css");
    background-color: rgba(255, 254, 254, 0.8);
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta el tamaño de la imagen según sea necesario */
    background-position: center; /* Centra la imagen */
}